.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 500px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawerHeader {
  margin: 30px;
  width: 102px;
  height: 29px;
  left: 895px;
  top: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.cartItem {
  display: flex;
  align-content: center;
  flex: 1;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  margin: 30px;
  overflow: hidden;

  p {
    font-size: 14px;
  }
}

.buttons {
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.cartTotalBlock {
  ul {
    margin-top: 40px;

  }

  li {
    display: flex;
    align-items: flex-end;
    margin: 0 30px 20px 30px;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 2px 7px;
  }


  .totalCost {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }

  .greenBtn {
    position: relative;
    left: 40px;
    top: 10px;
    background: #9DD558;
    border-radius: 18px;
    width: 420px;
    height: 55px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    border: 0;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;

    &:hover {
      background: #689a09;
      img {
        transform: translateX(20px);
      }
    }

    img {
      position: absolute;
      right: 60px;
      top: 20px;
      transition: transform 0.2s ease-in-out;

    }
  }
}

